img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
}

.logo-container {
  width: 60px;
  cursor: pointer;
}

.flex-nav {
  width: 100%;
}

.b-radius {
  border-radius: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(120, 120, 129, 0.1019607843) 0px 3px 3px 3px;
  height: 65px;
  max-height: 65px;
}

.nav-lien {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-format {
  font-size: 14px;
  margin-left: 30px;
  font-weight: 500;
  cursor: pointer;
}
.nav-format:hover {
  color: yellow;
}

.footer-format {
  background-color: purple;
  padding: 20px 0;
  width: 100%;
  height: 80px;
}
.footer-format p {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.bloc-footer {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.banner {
  height: 590px;
  min-height: 590px;
  background-color: blue;
  padding: 7em 9em 5em 5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  max-width: 1200px;
}

.small-profil {
  border-radius: 50%;
}

#bandeau_horizontal {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 300px;
  border: 1px solid black;
  overflow: hidden;
  margin-top: 55px;
}

.format-banner {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px;
  overflow: hidden;
}

/*
var longueurDeplacement = 10;

var vitesseDeplacement = 50;

function defileBanniere(ban) {
b = document.getElementById(ban);
bn = b.childNodes;

for(var n =1;n >-1;n--)
{
if(bn[n].offsetLeft+bn[n].offsetWidth<0)bn[n].style.left= bn[(n0?1 : 0)].offsetLeft+ bn[n].offsetWidth+"px";
bn[n].style.left= bn[n].offsetLeft- longueurDeplacement+"px";
}
setTimeout("defileBanniere('"+ban+"')",vitesseDeplacement);
} */
.media-format {
  border: 1.5px solid #222288;
  width: 38px;
  height: 38px;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.media-format:hover {
  background-color: #69699c;
}
.media-format:hover .icone-format {
  color: #dbdbe7;
}

.bloc-media {
  display: flex;
  justify-content: center;
}

.icone-format {
  border-radius: 50%;
}

.a-propos {
  background-color: aquamarine;
  height: 500px;
  display: flex;
  justify-content: center;
}

.mes-travaux {
  background-color: rgb(127, 157, 255);
}

.mes-competences {
  background-color: #C8DDFB;
}

.contact {
  background-color: rgb(27, 52, 136);
  height: 500px;
}

.card-service {
  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(104, 104, 133, 0.288);
  border-radius: 12px;
  text-align: center;
  padding: 50px 15px 0 15px;
  position: relative;
  height: 310px;
}

.skill-format-box {
  width: 30%;
}

.icone-skill-color {
  color: #ffffff;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title-skill {
  margin-bottom: 75px;
}

.bloc-skill {
  width: 100%;
  margin-bottom: 50px;
}

.rond-card-service.rond-softskill {
  background-color: #549AF4;
}

.btn-cv {
  background-color: #222288;
  color: white;
  padding: 0.625rem 1.375rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 50px;
  margin-top: 0.7em;
  display: block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 500;
}

.margin-btn-cv {
  margin: 50px auto 0;
}

.rond-card-service.rond-illuskill {
  background-color: #B61679;
}

.rond-card-service {
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #316EE1;
  position: absolute;
  top: 0em;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  padding: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card-service {
  font-size: 1.5em;
  font-weight: 600;
}

.p-margin-bottom {
  margin-bottom: 10px;
}

.list-skills {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.items-skill {
  background-color: #fff;
  border: 1.5px solid #549AF6;
  color: #549AF6;
  padding: 0.3125rem 1rem 0.25rem;
  margin-right: 6px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.title-card-rond {
  font-size: 1.1em;
  margin-bottom: 10px;
  font-weight: 500;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slideBackTop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}
.format-card-work {
  width: 50%;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s both;
}

.modal-wrapper {
  overflow: auto;
  width: 630px;
  height: 730px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  display: none;
  justify-content: center;
  animation: slideFromTop 0.5s both;
  margin-top: 98px;
  z-index: 1005;
}

.modal-wrapper.active {
  display: flex;
}

/*
.modal-wrapper2 {
	overflow: auto;
	width: 630px;
	height: 670px;
	max-width: calc(100vw -20px);
	max-height: calc(100vh -20px);
	border-radius: 12px;
	padding: 20px;
	background-color: white;
	display: flex;
	justify-content: center;
	animation: slideFromTop .5s both;

}
*/
.btn-close-modal {
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  display: grid;
  justify-items: self-end;
}

.modal[aria-hidden=true] {
  animation-name: fadeOut;
}

.modal[aria-hidden=true] .modal-wrapper {
  animation-name: slideBackTop;
}

.format-a-modal {
  display: flex;
  cursor: pointer;
  width: 100%;
}

.portfolio-item {
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  width: 50%;
}
.portfolio-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 0;
  background: rgba(84, 154, 244, 0.5);
  color: white;
  display: flex;
  text-align: left;
  flex-direction: column;
  transition: top ease-in-out 350ms;
}
.portfolio-item:focus figcaption, .portfolio-item:hover figcaption {
  cursor: pointer;
  top: 0;
}

.portfolio-link {
  height: 100%;
  width: 100%;
  padding: 2em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  align-self: flex-start;
  /*
  	&::after {
  		content: url(../../img/icone/f-b.png);
  		display: inline-block;
  		height: 1em;
  		width: 1em;
  	} */
}

.flex-beetween {
  display: flex;
  align-items: space-beewteen;
}

.portfolio-modal {
  position: fixed;
  z-index: 1500;
  top: 2em;
  right: 2em;
  left: 2em;
  bottom: 2em;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
}
.portfolio-modal.is-open {
  display: block;
}

figcaption h2 {
  text-align: left;
  justify-content: start;
}

.portfolio-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  width: 45%;
  max-width: 600px;
}

.portfolio-title-box p {
  text-align: center;
}

.portfolio-title-box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-title {
  font-size: 48px;
  margin-bottom: auto;
}

.portfolio-header {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.img-prez {
  max-height: 330px;
  max-width: 600px;
  width: 45%;
  border-radius: 25px;
  box-shadow: 0 0 0.4em 0.1em rgba(0, 0, 0, 0.5);
}

.portfolio-content {
  width: 100%;
  padding-bottom: 2em;
}

.grid-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.grid-portfolio-img {
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  width: 45%;
  border-radius: 15px;
}

.modal-close {
  background-color: #549AF4;
  color: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2.5em;
  height: 2.5em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.modal-close:hover {
  background-color: #222288;
  opacity: 0.9;
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
