.banner {
    
	height: 590px;
    min-height: 590px;
    background-color: blue;
    padding: 7em 9em 5em 5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    max-width: 1200px;
}

.small-profil{
    border-radius: 50%;
}

#bandeau_horizontal { 
    display: flex;
    align-items: center;
    position:relative;
    width:100%;
   // max-width: 1200px;
    height:300px;
    min-height: 300px;
    border:1px solid black;
    overflow:hidden;
   
    //float: left;
    //margin-right: 10px;
    margin-top:  55px;
  }

.format-banner {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    border:1px;
    
    overflow:hidden;
}
/*
var longueurDeplacement = 10;

var vitesseDeplacement = 50;

function defileBanniere(ban) {
b = document.getElementById(ban);
bn = b.childNodes;

for(var n =1;n >-1;n--)
{
if(bn[n].offsetLeft+bn[n].offsetWidth<0)bn[n].style.left= bn[(n0?1 : 0)].offsetLeft+ bn[n].offsetWidth+"px";
bn[n].style.left= bn[n].offsetLeft- longueurDeplacement+"px";
}
setTimeout("defileBanniere('"+ban+"')",vitesseDeplacement);
} */
