.menu-burger{
    cursor: pointer;
}



.nav-format-burger {
    padding: 5px 0;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
    cursor: pointer;
}


.nav-format-burger ul{
    list-style: none;
 }

  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {

    .main-nav{
        max-width: 745px;
    }

    #topnav_menu {
      display: none;
    }

    #root {
      position: relative;
      overflow-x: hidden;
    }
  

    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  

    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  

    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
      border-radius: 25px 0 0 25px;
    
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  

    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #000000;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  

    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  

    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    //animation span 1
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    //animation span 2
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
     //animation span 3
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

 
.sidenav {
    height: 356px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: -100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 25px 25px;
    background-color: rgba(132, 106, 221, 0.8);
    padding-top: 80px;
    transition: top 1.2s ease;
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.6s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  .sidenav.active {
    top: 0px;
  }
  

  .sidenav .close {
    position: absolute;

    right: 25px;
    font-size: 36px;
  }
  
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .nav-lien-2{
    display: flex;
    flex-direction: column;
  }