.footer-format {
	background-color: #E8E8E8;
	padding: 20px 0;
    width: 100%;
    height: 80px;
	p {
		color: white;
		text-align: center;
		margin-top: 10px;
	}
}

.bloc-footer {
     
        max-width: 1400px;
        padding: 0 10px;
        margin: 0 auto;
        
    }
