.media-format {

    border: 1.5px solid #846add;;
    width: 38px;
    height: 38px;
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    &:hover{
        background-color: #846add;;

        .icone-format{
            color: #dbdbe7;
        }
    }
    transition: 0.3s;
}
.media-format-link {

    border: 1.5px solid #846add;;
    width: 38px;
    height: 38px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    &:hover{
        background-color: #846add;;

        .icone-format{
            color: #dbdbe7;
        }
    }
    transition: 0.3s;
}
.bloc-media {
    display: flex;
    justify-content: center;
    padding-bottom: 10px ;
}

.icone-format {
   // width: 22px;
// height: 22px;
    border-radius: 50%;
    
    
}

.padd-link {
    padding-top: 20px;
    display: flex;
}

.padd-link a {
    
    margin-left: 5px;
    margin-right: 5px;
}