.logo-container {
    width: 60px;
    cursor: pointer;
    
}

.flex-nav {
    width: 100%;
}

.b-radius {
    border-radius: 50px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(120, 120, 129, 0.1019607843) 0px 3px 3px 3px;
    height: 65px;
    max-height: 65px;
}

.nav-lien {
display: flex;
margin: 0;
    padding: 11px 28px;
    border: 0;
    
}

.nav-format {
    font-size: 14px;
	margin-left: 30px;
	
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: #846add;
	}
}

.nav-format a{

    text-decoration:none;
    color: black;
     
}

html{
    scroll-behavior: smooth; 
   
}


#contact,#skills,#mes-travaux,#a-propos {
    scroll-margin-top: 60px;
     scroll-behavior: smooth; 
}