.a-propos {
    background-color: rgba(132, 106, 221, 0.9);;
   flex-direction: column;
    display: flex;
    justify-content: center;
}

.mes-travaux {
    background-color: #F5F5F5
   
}

.mes-competences {
    background-color:  #E8E8E8;
    
}

.contact {
    background-color: rgb(27, 52, 136);
   
}