.a-propos {
    background-color: aquamarine;
    height: 500px;
    display: flex;
    justify-content: center;
}

.mes-travaux {
    background-color: rgb(127, 157, 255);
    height: 500px;
}

.mes-competences {
    background-color:  #C8DDFB;
    
}

.contact {
    background-color: rgb(27, 52, 136);
    height: 500px;
}