@keyframes fadeOut {
	from { opacity: 1;}
	to { opacity: 0;}
}

@keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}

@keyframes slideFromTop {
	from { transform: translateY(-50px);}
	to { transform: translateY(0px);}
}

@keyframes slideBackTop {
	from { transform: translateY(0px);}
	to { transform: translateY(-50px);}
}

.format-card-work {
    width: 50%;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn .3s both;
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	height: 730px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 12px;
	padding: 20px;
	background-color: white;
	display: none;
	justify-content: center;
	animation: slideFromTop .5s both;
    margin-top: 98px;
    z-index: 1005;

}

.modal-wrapper.active {
	display: flex;
}
/*
.modal-wrapper2 {
	overflow: auto;
	width: 630px;
	height: 670px;
	max-width: calc(100vw -20px);
	max-height: calc(100vh -20px);
	border-radius: 12px;
	padding: 20px;
	background-color: white;
	display: flex;
	justify-content: center;
	animation: slideFromTop .5s both;

}
*/
.btn-close-modal {
	color: black;
	
	padding-top: 10px;
	padding-right: 10px;
	
	display: grid;

    justify-items: self-end;
}

.modal[aria-hidden="true"]{
	animation-name:fadeOut ;
}

.modal[aria-hidden="true"] .modal-wrapper{
	animation-name: slideBackTop ;
}

.format-a-modal {
	display: flex;
	cursor: pointer;
	width: 100%;
}

.portfolio-item {
	border-radius: 25px;
position: relative;
overflow: hidden;
width: 45%;
box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.4);
margin: 1.1em 1.7em;
 figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 100%;
	
	padding-left: 0;
	background:  rgba(132, 106, 221, 0.8);
	color: white;
	display: flex;
	text-align: left;
	flex-direction: column;
	transition: left ease-in-out 350ms;
	
 }
 &:focus figcaption,
 &:hover figcaption{
	cursor: pointer;
	left: 0;
 }
}

.portfolio-link {
	height: 100%;
	width: 100%;
	padding: 2em;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	display: flex;
    align-self: flex-start;
    flex-direction: column;
/*
	&::after {
		content: url(../../img/icone/f-b.png);
		display: inline-block;
		height: 1em;
		width: 1em;
	} */
}

.flex-beetween{
	display: flex;
	align-items: space-beewteen;
}

.portfolio-modal{
	position: fixed;
	z-index: 1500;
	top: 2em;
	right: 2em;
	left: 2em;
	bottom: 2em;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 3em rgb(black, .5);
	overflow-y: scroll;
	padding-left: 2em;
	padding-right: 2em;

	display: none;
	&.is-open{
		display: block;
	}
}

figcaption h2 {
	text-align: left;
	justify-content: start;
}

.portfolio-title-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-left: 10px;
	width: 45%;
	max-width: 600px;
}
.portfolio-title-box p {
	text-align: center;
}

.portfolio-title-box h2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio-title {
	//font-size: 48px;
	margin-bottom: auto;
	text-align: center;
	}
	

.portfolio-header {
	width: 100%;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;

}
.img-prez{
	max-height: 330px;
	max-width: 600px;
	width: 45%;
	border-radius: 25px;
	box-shadow:0 0 0.4em 0.1em rgb(black, .5); 
}

.portfolio-content {
	width: 100%;
	padding-bottom: 2em;
}

.portfolio-item img{
	height: 100%;
	object-fit: cover;
}
.grid-portfolio{
	display: flex;
    
    align-items: center;
    flex-direction: column;
}

.grid-portfolio-img{
	box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.4);
	margin-top: 20px;
	width: 100%;
	height: 100%;
    border-radius: 15px;
}

.grid-portfolio-img img{
	border-radius: 15px;
}

.modal-close {
	background-color: #549AF4;
	color: white;
	position: fixed;
	left: 1em;
	top: 1em;
	
	border: 0;
	width: 2.5em;
	height: 2.5em;
	padding: 4px 0 0;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(black, .5);
	&:hover {
		background-color: #222288;;
		opacity: 0.9;
	}
}

.portfolio-items {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

@keyframes modalIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes modalOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.btn-filtres{
	border: 2px solid rgba(132, 106, 221, 0.8);
	padding: 1em 2.2em;
	border-radius: 3em;
	background-color: transparent;
	color: rgba(132, 106, 221, 0.8);
	cursor: pointer;
}
#filtres {
	display: flex;
	padding: 1em 1em;
	justify-content: center;
}

.filtres button {
	margin-right: 10px;
}
.active {
	background-color: rgba(132, 106, 221, 0.8);
	color: white;
}

.hide{
	display: none;
}

.revel {
	display: flex;
}

.portfolio-title-box-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    align-self: self-start;
    width: 45%;
    max-width: 600px;
}

.img-prez-solo{

		height: auto;
		max-width: 600px;
		width: 45%;
		border-radius: 25px;
		box-shadow: 0 0 0.4em 0.1em rgba(0, 0, 0, 0.5);
	
}